* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.navbar {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); }
  .navbar .container-fluid {
    width: 90%; }

.logo {
  width: 140px;
  float: left; }

.nav-link {
  font-weight: bold;
  font-family: 'Rubik', sans-serif; }

/* SECCION QUIENES SOMOS */
.portada {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(/img/patitas.jpg);
  background-position: center;
  background-size: cover;
  height: 500px; }
  .portada h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    text-align: center;
    color: whitesmoke; }

.quienesSomos {
  text-align: center;
  margin: 50px 30px; }
  .quienesSomos h2 {
    font: 40px/"Rubik", sans-serif;
    text-align: center;
    padding-bottom: 30px; }
  .quienesSomos p {
    font: 18px/"Roboto", sans-serif;
    font-weight: 100; }
  .quienesSomos .img-chicas {
    width: 600px; }

/* CARDS */
.cards {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px; }
  .cards .card1 {
    width: 350px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    background: #5d3a2f;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 0.25s ease;
    text-align: center;
    align-items: center;
    padding: 20px; }
    .cards .card1:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-3%); }
    .cards .card1 img {
      width: 50%;
      margin: 15px 0px; }
    .cards .card1 h3 {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      color: white; }
    .cards .card1 p {
      font: 18px/"Roboto", sans-serif;
      padding: 20px 10px;
      color: white; }
    .cards .card1 a {
      text-decoration: none;
      font: 18px/"Roboto", sans-serif;
      color: white; }
      .cards .card1 a:hover {
        color: #a54d2a; }
  .cards .card2 {
    width: 350px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    background: #b17d4f;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 0.25s ease;
    text-align: center;
    align-items: center;
    padding: 20px; }
    .cards .card2:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-3%); }
    .cards .card2 img {
      width: 50%;
      margin: 15px 0px; }
    .cards .card2 h3 {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      color: white; }
    .cards .card2 p {
      font: 18px/"Roboto", sans-serif;
      padding: 20px 10px;
      color: white; }
    .cards .card2 a {
      text-decoration: none;
      font: 18px/"Roboto", sans-serif;
      color: white; }
      .cards .card2 a:hover {
        color: #a54d2a; }
  .cards .card3 {
    width: 350px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    background: #8a6451;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 0.25s ease;
    text-align: center;
    align-items: center;
    padding: 20px; }
    .cards .card3:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-3%); }
    .cards .card3 img {
      width: 50%;
      margin: 15px 0px; }
    .cards .card3 h3 {
      font-family: 'Rubik', sans-serif;
      font-size: 20px;
      color: white; }
    .cards .card3 p {
      font: 18px/"Roboto", sans-serif;
      padding: 20px 10px;
      color: white; }
    .cards .card3 a {
      text-decoration: none;
      font: 18px/"Roboto", sans-serif;
      color: white; }
      .cards .card3 a:hover {
        color: #a54d2a; }

/* TRANSITO */
.transito_section .transito {
  text-align: center;
  padding: 80px 0px; }

.container_transito {
  display: grid;
  padding: 0px 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px 300px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "icono-hogar texto-hogar" "texto-necesito icono-necesito" "button-transito button-transito";
  align-items: center; }
  .container_transito .texto-hogar {
    text-align: center; }
  .container_transito .texto-necesito {
    text-align: center;
    padding-top: 120px; }
  .container_transito .icono-hogar, .container_transito .icono-necesito {
    margin-left: 100px;
    padding-top: 60px; }
  .container_transito .button-transito {
    display: flex;
    justify-content: center;
    padding: 120px 0px; }
    .container_transito .button-transito .btn-transito {
      background-color: #f3e8da;
      border: solid;
      border-color: #5d3a2f;
      padding: 10px;
      border-radius: 20px;
      font-family: 'Rubik', sans-serif;
      font-size: 22px;
      margin-bottom: 80px;
      margin-top: 60px; }
      .container_transito .button-transito .btn-transito a {
        text-decoration: none;
        color: #5d3a2f; }

.texto-hogar {
  grid-area: texto-hogar; }

.icono-hogar {
  grid-area: icono-hogar; }

.texto-necesito {
  grid-area: texto-necesito; }

.icono-necesito {
  grid-area: icono-necesito; }

.button-transito {
  grid-area: button-transito; }

/* SECCION ADOPCIONES */
.adopcioncabecera {
  display: flex;
  background-image: url(/img/adoptar.jpg);
  background-size: cover;
  height: 500px;
  align-items: center;
  justify-content: center; }
  .adopcioncabecera h1 {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 40px; }

.pasos {
  display: flex;
  justify-content: space-around;
  padding: 80px 0; }
  .pasos .pasoshuella p {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-left: 44%;
    margin-top: -55px;
    color: white; }

.textopasos {
  display: flex;
  justify-content: space-around; }
  .textopasos .parrafo {
    padding: 0 42px;
    margin-bottom: 80px; }
    .textopasos .parrafo p {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      color: #340a0a; }

.animate {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .animate h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    color: #340a0a;
    text-decoration: underline overline; }
  .animate button {
    background-color: #f3e8da;
    border: solid;
    border-color: #5d3a2f;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    margin-bottom: 80px;
    margin-top: 60px; }
    .animate button a {
      text-decoration: none;
      color: #5d3a2f; }

/* SECCION DONACIONES */
.cabeceradonar {
  display: flex;
  flex-direction: column;
  background-image: url(/img/gato.jpg);
  background-size: cover;
  background-position: 120px;
  height: 800px;
  margin-top: 4px;
  padding-top: 60px;
  padding-left: 80px; }
  .cabeceradonar h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #340a0a;
    text-decoration: underline; }
  .cabeceradonar p {
    padding-right: 50%; }

.ayudar h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 42px;
  margin-top: 100px;
  margin-bottom: 40px;
  color: #340a0a;
  text-align: center; }

.donaciones {
  display: flex;
  justify-content: space-around;
  padding: 40px 60px;
  margin-left: 50px; }
  .donaciones .tipo_donaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px; }
    .donaciones .tipo_donaciones img {
      width: 50%; }

/* SECCION CONTACTO */
.formulario {
  width: 600px;
  background-color: #c8b4a7;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif; }
  .formulario h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: #340a0a;
    text-align: center; }
  .formulario .casillero {
    width: 100%;
    background-color: #f4e2d5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #897c65;
    font-size: 16px; }
  .formulario .boton {
    width: 80%;
    background-color: #290606;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif; }

/* FOOTER */
footer {
  background-color: #272727;
  height: auto;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  color: white; }
  footer .footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    footer .footer_content h3 {
      font-size: 20px;
      font-weight: 400;
      text-transform: capitalize; }
  footer .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0px 30px 0; }
    footer .socials img {
      width: 50%; }
