@media screen and (max-width: 767px) {
    /* Inicia header */
    .logo{
        width: 90px;
        padding: 5px 0px;
        float: left;
    }
    /* Finaliza header */
    /* Inicia sección home */
    .portada h1 {
      font-size: 50px;
    }
    .quienesSomos{
      margin: 40px auto;
      padding: 0px 4px;
    }
    .quienesSomos .img-chicas{
      width: 300px;
      margin: 10px auto;
    }
    /* Finaliza sección home */
    /* Inicia sección transito */
    .container_transito {  
    display: grid;
    padding: 0px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "icono-hogar"
      "texto-hogar"
      "icono-necesito"
      "texto-necesito "
      "button-transito";
    }

  .texto-hogar { grid-area: texto-hogar; }
  
  .icono-hogar { grid-area: icono-hogar; }
  
  .texto-necesito { grid-area: texto-necesito; }
  
  .icono-necesito { grid-area: icono-necesito; }
  
  .button-transito { grid-area: button-transito; }


.transito_section .transito {
  text-align: center;
  padding: 60px 0px 40px 0px; 
}
.container_transito .icono-hogar, .container_transito .icono-necesito {
  margin: 5px auto; }

.icono-hogar img, .icono-necesito img{
  width: 150px;
}
.container_transito .texto-hogar, .container_transito .texto-necesito {
  text-align: center;
  padding: 0px 12px;
 }
 .container_transito .button-transito .btn-transito {
  background-color: #f3e8da;
  border: solid;
  border-color: #5d3a2f;
  padding: 10px;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: 20px; }
    /* Finaliza sección tránsito */
    /* Inicia sección adopciones */
  .adopcioncabecera{
  background-image: url(/img/adoptar.jpg);
  background-size: cover;
  height: 200px;
    }
  .adopcioncabecera h1{
    font-size: 26px;
    padding-right: 70px;
    margin-left: 30px;
  }
  .container_pasos{
    margin: 60px 0px;
  }
  .patita{
    margin-bottom: 20px;
  }
  .animate h3{
    font-size: 30px;
    text-align: center;
  }
  .animate .carousel-inner {
    padding: 10px;
  }
  .btn-adoptar a{
    font-size: 18px;
    }
    /* Finaliza sección adopciones */
    /* Inicia sección contacto */
    .formulario{
      width: auto;
      margin: 30px 12px;
    }
    .formulario h1{
      font-size: 24px;
    }
    .formulario .casillero{
      padding: 8px;
    }
    /* Finaliza sección contacto */

  }