/* SECCION ADOPCIONES */ 
.adopcioncabecera{
    display: flex;
    background-image: url(/img/adoptar.jpg);
    background-size: cover;
    height: 500px;
    align-items: center;
    justify-content: center;
    h1{
        font-family: 'Rubik', sans-serif;
        color: white;
        font-size: 40px;
    }
}
.pasos{
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    .pasoshuella p{
        font-family: 'Rubik', sans-serif;
        font-size: 32px;
        font-weight: 500;
        margin-left: 44%;
        margin-top: -55px;
        color: white;
    
    }
}
.textopasos{
    display: flex;
    justify-content: space-around;
    .parrafo{
        padding: 0 42px;
        margin-bottom: 80px;
        p{
            font-family: 'Roboto', sans-serif;
            text-align: center;
            color: rgb(52, 10, 10);;
        }
    }
}
.animate{
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
        color: $color-text1;
    }
    .carousel-inner{
        padding: 80px;
    }
    .btn-adoptar{
        background-color: rgb(243, 232, 218);
        border:solid;
        border-color: #5d3a2f;
        padding: 10px;
        border-radius: 20px;
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        margin-bottom: 80px;
        margin-top: 30px;
        a{
            text-decoration: none;
            color:#5d3a2f;
        }
    }
}