/* FOOTER */
footer{
    background-color: rgb(39, 39, 39);
    height: auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    color: white;
    .footer_content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3{
            font-size: 20px;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px 0px 30px 0;
            img{
                width: 50%;
            }
        }
    }