/* SECCION QUIENES SOMOS */
.portada{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/img/patitas.jpg);
    background-position: center;
    background-size:cover;
    height: 500px;
    
    h1{
        font-family: 'Rubik', sans-serif;
        font-size: 70px;
        text-align: center;
        color: whitesmoke; 
     }
}

.quienesSomos{
    text-align: center;
    margin: 50px 30px;
    h2{
        font: $subtitulo;
        text-align: center;
        padding-bottom: 30px;
    }
    p{
        font: $texto;
        font-weight: 100;
    }
    .img-chicas{
        width: 600px;
    }
}

/* CARDS */
.cards{
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
    .card1{
        @include cards($color3, $color-text2)
    }
    .card2{
        @include cards($color2, $color-text2)
    }
    .card3{
        @include cards($color1, $color-text2)
    }
   }