/* TRANSITO */
.transito_section{
    .transito{
        text-align: center;
        padding: 80px 0px;
    }
}
.container_transito {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 300px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "icono-hogar texto-hogar"
      "texto-necesito icono-necesito"
      "button-transito button-transito";
  }
  
  .texto-hogar { grid-area: texto-hogar; }
  
  .icono-hogar { grid-area: icono-hogar; }
  
  .texto-necesito { grid-area: texto-necesito; }
  
  .icono-necesito { grid-area: icono-necesito; }
  
  .button-transito { grid-area: button-transito; }
  