$color1: #8a6451;
$color2: #b17d4f;
$color3: #5d3a2f;
$color-text1: #5d3a2f;
$color-text2: white;

@mixin cards ($color, $color-text) {
    width: 350px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    background: $color;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 0.25s ease;
    text-align: center;
    align-items: center;
    padding: 20px;
    &:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
        transform: translateY(-3%);
    }
    img{
    width: 50%;
    margin: 15px 0px;
    }
    h3{
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: $color-text;
    }
    p{
        font: $texto;
        padding: 20px 10px;
        color: $color-text;
    }
    a{
        text-decoration: none;
        font: $texto;
        color: $color-text;
        &:hover{
            color: rgb(165, 77, 42);
        }
    }
}
