$bg: #ffffff;
$bg2: #aa7d4a;
$texto: 18px/'Roboto', sans-serif;
$subtitulo: 40px/'Rubik', sans-serif;

@import "body";
@import "header";
@import "home";
@import "footer";
@import "transito";
@import "adopcion";